<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Travel App</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>
 <body>
<div id = "app">
  <div class="bas">
  <div class ="holder headline">
    Travel App
  </div>
  <form class="form">
  <div class ="holder cityname">
    <input type="text" id="leave" placeholder="FROM">
    <input type="text" id="cityname" placeholder="TO:">
    <input type="date" id="date" placeholder="DATE">
  </div>
  <div class ="holder feel">
    <button id="generate" type = "submit"> Generate </button>
    </form>
  </div>
  <div class ="holder entry">
    <div class = "title">Most Recent Entry</div>
   <div id = "entryHolder">
   <span id="temp"></span> 
   <span id="content"></span>
   <span id="date"></span>
  </div>
  </div>
  </div>
  </div>
</body>
</html>